
.photo1{
   
    display: flex; 
    flex-direction: row;  
       
    justify-content: center;
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
      
}
 .image{
     background-size: cover;
      box-sizing: border-box;  
     width: 50%;
 }
 .write{
   
     
    width: 50%;
 }
 .varification{
     display: flex;

 }



